# HybridColourNet Requirements
# Usage: pip install -r requirements.txt

#Core ML
torch>=1.7.0
torchvision>=0.8.1
timm>=0.6.0

# Computer Vision
numpy>=1.18.5,<1.24.0
opencv-python>=4.1.1

#YOLO / Plotting
matplotlib>=3.2.2
Pillow==9.5.0
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.41.0
protobuf<4.21.3

# KNN
scikit-learn>=1.0

# CNN 
tensorflow==2.10.0
keras==2.10.0
